@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'EF_Diary';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Diary.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Diary.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Diary.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Diary.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Diary.ttf') format("truetype");
    font-display: swap;
}

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}


/* ================================================== */


body{
  /* background-color: rgba(68, 0, 136); */
  background-color: rgb(255, 255, 255, 0.5);

}

.back{
  width: 1800px;
  height: 500px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    background-color: rgba(68, 0, 136);
  position: relative;
}

/* 명함 */
.container{
  width: 1125px;
  height: 625px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4); */
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/* 종이 질감 */
.container2 {
  width: 1125px;
  height: 625px;
  /* background-color: rgba(68, 0, 136); */
  /* background-color: rgba(255, 40, 0); */
  
  /* background-color: #2AC1BC; */
  /* background-color: rgba(255, 255, 255, 0.7); */
  background-image: url(../img/paper1.jpg);
  opacity: 0.5;
  z-index: 1;
}

.header div:nth-of-type(1){
  float: left;
}

.header div:nth-of-type(2){
  float: right;
}

.header span{
  font-family: 'ChosunGu';
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  /* color: black; */
  color: rgba(68, 0, 136);
  word-spacing: 2px;
}

.header{
  margin-bottom: 200px;
}

/* 안쪽 컨텐츠 박스 */
.innerContainer{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 77%; */
  width: 85%;
}

/* 숫자 */
.innerContainer > h2{
  font-family: 'TmonMonsori'; 
  font-weight: 400; 
  font-size: 35px;
  line-height: 55px;
  /* color: black; */
  color: rgba(68, 0, 136);
  margin-top: 100px;
  /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
}

/* 제목 박스 */
.content{
  float: left;
}

/* 소제목 */
.content h1 {
  font-family: 'TmonMonsori'; 
  font-weight: 400; 
  font-size: 60px;
  line-height: 70px;
  /* color: black; */
  color: rgba(68, 0, 136);
  /* text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); */
}

/* 작은글자 */
.content div h2{
  /* font-family: 'EF_Diary'; */
  font-family: 'ChosunGu';
  font-weight: 400;
  font-size: 15px;
  color: black;
  /* color: rgba(68, 0, 136); */
  line-height: 25px;
}


/* ================================================== */


/* 가운데 줄 */
.hr1{
  /* position: absolute;
  top: 52%;
  left: 36.5%;
  transform: translate(-50%, -50%); */
  float: left;
  height: 200px;
  /* border-left: 2px solid black; */
  border-left: 4px solid rgba(68, 0, 136);
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */

  margin: 30px;
  
}


/* ================================================== */


/* 자기 소개 박스 */
.btn{
  float: right;
  position: relative;
  width: 500px;
  /* height: 400px; */
  /* border: 6px solid white; */
  /* padding: px;  */
}

.btn div{
  /* position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%,-50%);
  padding: 0 20px 0 50px; */

}

/* 자기 소개 내용 */
.btn div span{
  position: relative;
  display: block;
  height: 75px;

  /* font-family: 'EF_Diary'; */
  font-family: 'ChosunGu';
  font-weight: 400;
  font-size: 20px;
  color: black;
  line-height: 30px;
}

/* 자기 소개 구두점 */
.btn div span::after{
  content: "";
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); */

  position: absolute;
  top: 12.5%;
  right: 101.5%;
  transform: translate(-50%);

  width: 8px;
  height: 8px;
  /* background-color: black; */
  background-color: rgba(68, 0, 136);
  /* border-radius: 50%; */
}